[Desktop Entry]
Type=Application
Version=0.1
Name=MC-Aero
GenericName=MC-Aero
Exec=mc-aero
Terminal=false
Categories=
Comment=
Keywords=
Icon=mc-aero
